
# ~/.aws/credentials
amazon.aws.accesskey=key
amazon.aws.secretkey=key2


# DynamoDB
amazon.dynamodb.endpoint=http://localhost:8000/

spring.autoconfigure.exclude=org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration

# RESTAPI Documentation
springdoc.swagger-ui.path=/swagger-ui-reactive-api-clientes.html