version: "3.8"
services:

  db:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: postgres

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.2.0
    ports:
      - "9200:9200"
    environment:
      - "discovery.type=single-node"
    volumes:
      - ./elasticsearch/data:/usr/share/elasticsearch/data:rw              # Persistence data

  logstash:
    image: docker.elastic.co/logstash/logstash:7.2.0
    ports:
      - "25826:25826"
      - "5044:5044"
    volumes:
      - ./logstash/pipeline:/usr/share/logstash/pipeline:ro                # Pipeline configuration
    restart: on-failure
    depends_on:
      - elasticsearch

  kibana:
    image: docker.elastic.co/kibana/kibana:7.2.0
    ports:
      - "5601:5601"
    restart: on-failure
    depends_on:
      - elasticsearch

  filebeat:
    image: docker.elastic.co/beats/filebeat:7.2.0
    volumes:
      - ./filebeat/filebeat.docker.yml:/usr/share/filebeat/filebeat.yml:ro # Configuration file
      - /var/lib/docker/containers:/var/lib/docker/containers:ro           # Docker logs
      - /var/run/docker.sock:/var/run/docker.sock:ro                       # Additional information about containers
      - ./filebeat/data:/usr/share/filebeat/data:rw                        # Persistence data
    user: root                                                             # Allow access to log files and docker.sock
    restart: on-failure
    depends_on:
      - logstash

  servico_cliente:
    image: edabruzzo/tqi_evolution_backend_2021/servico_cliente:latest
    ports:
      - "8080:8080"
    labels:
      collect_logs_with_filebeat: "true"
      decode_log_event_to_json_object: "true"
    restart: on-failure
    depends_on:
      - config-server
      - eureka_server
      - servico_emprestimo


  servico_emprestimo:
    image: edabruzzo/tqi_evolution_backend_2021/servico_emprestimo:latest
    ports:
      - "8081:8081"
    labels:
      collect_logs_with_filebeat: "true"
      decode_log_event_to_json_object: "true"

    restart: on-failure
    depends_on:
      - config-server
      - eureka_server


  config-server:
    image: edabruzzo/tqi_evolution_backend_2021/config-server
    restart: always
    ports:
      - 8888:8888


  eureka_server:
    image: edabruzzo/tqi_evolution_backend_2021/eureka_server
    restart: always
    ports:
      - 8761:8761
    depends_on:
      - config-server