version: "3.8"
services:

  basedados:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_NAME: tqi_evolution_backend_2021
      POSTGRES_PASSWORD: postgres
    networks:
      - tqi_evolution_backend_2021_spring-cloud-network

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.2.0
    ports:
      - "9200:9200"
    environment:
      - "discovery.type=single-node"
    volumes:
      - ./elasticsearch/data:/usr/share/elasticsearch/data:rw              # Persistence data
    networks:
      - tqi_evolution_backend_2021_spring-cloud-network

  logstash:
    image: docker.elastic.co/logstash/logstash:7.2.0
    ports:
      - "25826:25826"
      - "5044:5044"
    volumes:
      - ./logstash/pipeline:/usr/share/logstash/pipeline:ro   # Pipeline configuration
    restart: on-failure
    depends_on:
      - elasticsearch
    networks:
      - tqi_evolution_backend_2021_spring-cloud-network

  kibana:
    image: docker.elastic.co/kibana/kibana:7.2.0
    ports:
      - "5601:5601"
    restart: on-failure
    depends_on:
      - elasticsearch
    networks:
      - tqi_evolution_backend_2021_spring-cloud-network
      -
  filebeat:
    image: docker.elastic.co/beats/filebeat:7.2.0
    volumes:
      - ./filebeat/filebeat.docker.yml:/usr/share/filebeat/filebeat.yml:ro # Configuration file
      - /var/lib/docker/containers:/var/lib/docker/containers:ro           # Docker logs
      - /var/run/docker.sock:/var/run/docker.sock:ro                       # Additional information about containers
      - ./filebeat/data:/usr/share/filebeat/data:rw                        # Persistence data
    user: root                                                             # Allow access to log files and docker.sock
    restart: on-failure
    depends_on:
      - logstash
    networks:
      - tqi_evolution_backend_2021_spring-cloud-network


  config-server:
    build:
      dockerfile: ./docker/config-server.dockerfile
      context: .
    image: edabruzzo/tqi_evolution_backend_2021/config-server
    restart: always
    ports:
      - 8888:8888
    networks:
      - tqi_evolution_backend_2021_spring-cloud-network
    depends_on:
      - basedados


  eureka_server:
    build:
      dockerfile: ./docker/eureka_server.dockerfile
      context: .
    image: edabruzzo/tqi_evolution_backend_2021/eureka_server
    restart: always
    ports:
      - 8761:8761
    depends_on:
      - config-server
    networks:
      - tqi_evolution_backend_2021_spring-cloud-network

  servico_emprestimo:
    build:
      dockerfile: ./docker/emprestimo.dockerfile
      context: .
    image: edabruzzo/tqi_evolution_backend_2021/servico_emprestimo:latest
    ports:
      - "8081:8081"
    labels:
      collect_logs_with_filebeat: "true"
      decode_log_event_to_json_object: "true"

    restart: on-failure
    depends_on:
      - eureka_server
    networks:
      - tqi_evolution_backend_2021_spring-cloud-network



  servico_cliente:
    build:
      dockerfile: ./docker/cliente.dockerfile
      context: .
    image: edabruzzo/tqi_evolution_backend_2021/servico_cliente:latest
    container_name: servico_cliente
    ports:
      - "8080:8080"
    labels:
      collect_logs_with_filebeat: "true"
      decode_log_event_to_json_object: "true"
    restart: on-failure
    depends_on:
      - servico_emprestimo
    networks:
      - tqi_evolution_backend_2021_spring-cloud-network



  frontend_cliente_emprestimo:
    build:
      dockerfile: ./docker/frontend_cliente_emprestimo.dockerfile
      context: .
    image: edabruzzo/tqi_evolution_backend_2021/frontend_cliente_emprestimo:latest
    container_name: servico_cliente
    ports:
      - "5000:5000"
    labels:
      collect_logs_with_filebeat: "true"
      decode_log_event_to_json_object: "true"
    restart: on-failure
    depends_on:
      - servico_cliente
    networks:
      - tqi_evolution_backend_2021_spring-cloud-network


networks:
  tqi_evolution_backend_2021_spring-cloud-network:
    driver: bridge