<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>




<div sec:authorize="authenticated()" th:switch="${listaEmprestimos}">
    <h2 th:case="null">Nenhum empréstimo a ser exibido!</h2>
    <div th:case="*">
        <h2>Lista de Empréstimos</h2>
        <table>
            <thead>
            <tr>
                <th>Id Empréstimo</th>
                <th>Valor</th>
                <th>Data da primeira parcela</th>
                <th>Número de parcelas</th>
                <th>Id do Cliente</th>
                <th>CPF do Cliente</th>
                <th>Edit</th>
                <th>Delete</th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="emprestimoCliente : ${listaEmprestimos}">
                <td th:text="${emprestimoCliente.id}"></td>
                <td th:text="${emprestimoCliente.valor}"></td>
                <td th:text="${emprestimoCliente.dataPrimeiraParcela}"></td>
                <td th:text="${emprestimoCliente.numeroMaximoParcelas}"></td>
                <td sec:authorize="hasRole('FUNCIONARIO')"
                    th:text="${emprestimoCliente.numeroMaximoParcelas}"></td>
                <td th:text="${#authentication.get}"></td>
                <td><a sec:authorize="hasRole('SUPER_ADMIN')" th:href="@{/edit/{id}(id=${emprestimoCliente.id})}">Edit</a></td>
                <td><a sec:authorize="hasRole('SUPER_ADMIN')" th:href="@{/delete/{id}(id=${emprestimoCliente.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>





</body>
</html>