

<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head th:replace="~{base :: head}"> </head>

<div th:replace="~{base :: logo}" ></div>
<body>

    <div sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_FUNCIONARIO')" th:switch="${listaClientes}">
        <h2 th:case="null">Nenhum cliente a ser exibido!</h2>
        <div th:case="*">
            <h2>Lista de Clientes</h2>
            <table class="table">
                <thead class="thead-dark">

                <tr>
                    <th scope="col">Id Cliente</th>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">CPF</th>
                    <th scope="col">RG</th>
                    <th scope="col">Endereço Completo</th>
                    <th scope="col">Renda</th>
                    <th scope="col" sec:authorize="hasRole('ROLE_SUPER_ADMIN')">Edit</th>
                    <th scope="col" sec:authorize="hasRole('ROLE_SUPER_ADMIN')">Delete</th>


                </tr>
                </thead>
                <tbody>
                <tr scope="row" th:each="cliente : ${listaClientes}">
                    <td th:text="${cliente.id}"></td>
                    <td class="card-header" th:text="${cliente.nome}"></td>
                    <td th:text="${cliente.email}"></td>
                    <td class="card-header" th:text="${cliente.cpf}"></td>
                    <td th:text="${cliente.rg}"></td>
                    <td th:text="${cliente.enderecoCompleto}"></td>
                    <td th:text="${cliente.renda}"></td>
                    <td sec:authorize="hasRole('ROLE_SUPER_ADMIN')" ><a th:href="@{cliente/edit/{id}(id=${cliente.id})}"></a></td>
                    <td sec:authorize="hasRole('ROLE_SUPER_ADMIN')" ><a th:href="@{cliente/delete/{id}(id=${cliente.id})}"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>



    <!--
    <div th:replace="~{modal_cadastro_clientes :: modalCadastroClientes}"  class="card mt-3"></div>
    -->
    <div sec:authorize="isAuthenticated()"  class="card mt-3">
        <h2>Cadastro de Clientes</h2>
        <form th:object="${clienteDTO}" class="card-body"
              th:action="@{/cliente/cadastrar}" method="POST">
            <div th:replace="~{emprestimo/solicitacao-emprestimo::form-cadastro-cliente}"></div>
            <button class="btn btn-primary" type="submit">Salvar cliente</button>
        </form>
    </div>




</body>

</html>